
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
input {
    border: 1px solid #cecece;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 12px;
    &::placeholder {
        color:#bcbcbc
    }
    &[type="submit"] {
        cursor: pointer;
    }
    margin-bottom: 10px;
    margin-top: 15px;
}
.failedInput {
    background-color: rgb(255, 26, 60);
    &::placeholder {
        color: rgb(255, 255, 255)
    }
}
.errorBlock {
    p {
        font-size: 18px;
        color: rgb(255, 26, 60);
    }
}